.homepage,
.homepage * {
  box-sizing: border-box;
}
.homepage {
  background: var(--white, #ffffff);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.header {
  background: var(--white, #ffffff);
  padding: 30px 100px 30px 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1920px;
  height: 100px;
  position: relative;
  box-shadow: var(
    ---box-shadow,
    inset 0px -3px 5px 0px rgba(142, 142, 142, 0.25)
  );
}
.frame-2 {
  display: flex;
  flex-direction: row;
  gap: 500px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo {
  flex-shrink: 0;
  width: 141px;
  height: 47px;
  position: relative;
}
.machi {
  color: var(--primary-dark, #785e4c);
  text-align: center;
  font-family: "ZenTokyoZoo-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 70.5px);
  top: calc(50% - 23.5px);
  width: 141px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  gap: 70px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.btn-nav-item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.sub {
  border-style: solid;
  border-color: var(--primary-dark, #785e4c);
  border-width: 0px 0px 0px 1px;
  padding: 0px 0px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 20px;
  position: relative;
}
.div {
  color: var(--primary-dark, #785e4c);
  text-align: center;
  font-family: var(--h6-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--h6-font-size, 18px);
  letter-spacing: var(--h6-letter-spacing, 0.05em);
  font-weight: var(--h6-font-weight, 400);
  position: relative;
}
.sub2 {
  border-style: solid;
  border-color: var(--primary-dark, #785e4c);
  border-width: 0px 1px 0px 1px;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 20px;
  position: relative;
}
.nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-cart {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: visible;
}
.icon-user {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: visible;
}
.icon-search {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: visible;
}
.hero-section {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1920px;
  position: relative;
}
.tis-the-most-1-1 {
  flex-shrink: 0;
  width: 1920px;
  height: 825px;
  position: relative;
  object-fit: cover;
}
.arrow {
  flex-shrink: 0;
  width: 46px;
  height: 165px;
  position: absolute;
  left: 0px;
  top: 330px;
  overflow: visible;
}
.arrow2 {
  flex-shrink: 0;
  width: 46px;
  height: 165px;
  position: absolute;
  left: 1874px;
  top: 330px;
  overflow: visible;
}
.section-1 {
  padding: 76px 240px 76px 240px;
  display: flex;
  flex-direction: row;
  gap: 154px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 1920px;
  height: 840px;
  position: relative;
}
.introduce {
  border-radius: 5px;
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
}
.photo {
  flex-shrink: 0;
  width: 605.61px;
  height: 706.56px;
  position: relative;
  overflow: visible;
}
.info {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 683.39px;
  position: relative;
}
.div2 {
  color: var(--primary-dark, #785e4c);
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 36px;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.since-2015 {
  color: var(--primary-dark, #785e4c);
  text-align: left;
  font-family: var(--h4-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--h4-font-size, 24px);
  letter-spacing: var(--h4-letter-spacing, 0.05em);
  font-weight: var(--h4-font-weight, 400);
  position: relative;
  align-self: stretch;
  height: 44px;
}
.machi-machi {
  color: var(--brown, #ab927d);
  text-align: left;
  font-family: var(--h6chinese-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--h6chinese-font-size, 18px);
  letter-spacing: var(--h6chinese-letter-spacing, 0.05em);
  font-weight: var(--h6chinese-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.section-3 {
  padding: 50px 240px 50px 240px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 623px;
  position: relative;
}
.frame-5 {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
}
.frame-82 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 260px;
  height: 40px;
  position: relative;
}
.div3 {
  color: var(--primary-dark, #785e4c);
  text-align: center;
  font-family: var(--h4-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--h4-font-size, 24px);
  letter-spacing: var(--h4-letter-spacing, 0.05em);
  font-weight: var(--h4-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.line-1 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-39 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
}
.card-1 {
  background: var(--white, #ffffff);
  border-radius: 5px;
  border-style: solid;
  border-color: var(--grey, #c0c0c0);
  border-width: 1px;
  padding: 32px 45px 32px 45px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 676px;
  height: 348px;
  position: relative;
  box-shadow: var(---box-shadow, 0px 5px 53.9px 0px rgba(166, 166, 166, 0.25));
  overflow: hidden;
}
.img-ins-x {
  flex-shrink: 0;
  width: 290px;
  height: 275px;
  position: relative;
  object-fit: cover;
}
.info-section {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 265px;
  height: 326px;
  position: relative;
}
.sub3 {
  border-style: solid;
  border-color: var(--primary-dark, #785e4c);
  border-width: 0px 0px 0px 5px;
  padding: 0px 0px 0px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div4 {
  color: var(--primary-dark, #785e4c);
  text-align: left;
  font-family: var(--h6chinese-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--h6chinese-font-size, 18px);
  letter-spacing: var(--h6chinese-letter-spacing, 0.05em);
  font-weight: var(--h6chinese-font-weight, 400);
  position: relative;
  flex: 1;
}
.card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._2024-02-20 {
  color: var(--brown, #ab927d);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.btn-button {
  background: var(--grey, #c0c0c0);
  border-radius: 5px;
  padding: 10px 48px 10px 48px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100px;
  height: 28px;
  position: relative;
  overflow: hidden;
}
.div5 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--pchinese-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--pchinese-font-size, 16px);
  letter-spacing: var(--pchinese-letter-spacing, 0.1em);
  font-weight: var(--pchinese-font-weight, 400);
  position: relative;
}
.section-2 {
  padding: 50px 240px 50px 240px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1920px;
  height: 1502px;
  position: relative;
  overflow: hidden;
}
.card {
  background: var(--white, #ffffff);
  border-radius: 5px;
  flex-shrink: 0;
  width: 1440px;
  height: 1338px;
  position: relative;
  box-shadow: var(---box-shadow, 0px 5px 53.9px 0px rgba(166, 166, 166, 0.25));
  overflow: hidden;
}
.frame-81 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: flex-start;
  width: 1352px;
  position: absolute;
  left: 44px;
  top: 725.5px;
}
.line-12 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-11 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.card-3 {
  background: var(--white, #ffffff);
  padding: 0px 0px 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 300px;
  position: relative;
}
.img-ins-x2 {
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  position: relative;
  object-fit: cover;
}
.frame-52 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div6 {
  color: var(--primary-dark, #785e4c);
  text-align: left;
  font-family: var(--h6chinese-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--h6chinese-font-size, 18px);
  letter-spacing: var(--h6chinese-letter-spacing, 0.05em);
  font-weight: var(--h6chinese-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-124 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon-heart-default {
  flex-shrink: 0;
  width: 25px;
  height: 21.38px;
  position: absolute;
  left: 262px;
  top: 11px;
}
.icon-heart-default2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.card-32 {
  background: var(--white, #ffffff);
  padding: 0px 0px 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 300px;
  height: 417px;
  position: relative;
}
.icon-heart-default3 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.icon-heart-default4 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.icon-heart-default5 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.frame-80 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 44px;
  top: 78.5px;
}
.line-13 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.card-2 {
  background: var(--white, #ffffff);
  padding: 0px 0px 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 300px;
  height: 387px;
  position: relative;
}
.img-ins-x3 {
  flex: 1;
  width: 300px;
  position: relative;
  object-fit: cover;
}
.nt-600 {
  color: var(--primary-dark, #785e4c);
  text-align: left;
  font-family: var(--p-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--p-font-size, 16px);
  line-height: var(--p-line-height, 130%);
  letter-spacing: var(--p-letter-spacing, 0.05em);
  font-weight: var(--p-font-weight, 400);
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.icon-heart-default6 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.icon-heart-default7 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.icon-heart-default8 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.icon-heart-default9 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.section-4 {
  background: var(--white, #ffffff);
  padding: 0px 80px 0px 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1920px;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.frame-12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
}
.illustration-1-1 {
  flex-shrink: 0;
  width: 278px;
  height: 308px;
  position: relative;
  object-fit: cover;
}
.illustration-2-1 {
  flex-shrink: 0;
  width: 278px;
  height: 308px;
  position: relative;
  object-fit: cover;
}
.illustration-3-1 {
  flex-shrink: 0;
  width: 278px;
  height: 308px;
  position: relative;
  object-fit: cover;
}
.illustration-4-1 {
  flex-shrink: 0;
  width: 278px;
  height: 308px;
  position: relative;
  object-fit: cover;
}
.illustration-5-1 {
  flex-shrink: 0;
  width: 278px;
  height: 308px;
  position: relative;
  object-fit: cover;
}
.footer {
  background: var(--brown, #ab927d);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.background {
  flex-shrink: 0;
  width: 1920px;
  height: 292px;
  position: relative;
  overflow: visible;
}
.footer-content {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 200px;
  position: absolute;
  left: 338px;
  top: 92px;
}
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 200px;
  height: 182px;
  position: relative;
}
.f-title {
  border-style: solid;
  border-color: var(--light-brown, #cebeb0);
  border-width: 0px 0px 1px 0px;
  padding: 0px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 19px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div7 {
  color: var(--primary-dark, #785e4c);
  text-align: left;
  font-family: var(--h6chinese-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--h6chinese-font-size, 18px);
  letter-spacing: var(--h6chinese-letter-spacing, 0.05em);
  font-weight: var(--h6chinese-font-weight, 400);
  position: relative;
  align-self: stretch;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.f-detail {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.paragraph-en-x {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.div8 {
  color: var(--primary-dark, #785e4c);
  text-align: left;
  font-family: var(--h6chinese-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--h6chinese-font-size, 18px);
  letter-spacing: var(--h6chinese-letter-spacing, 0.05em);
  font-weight: var(--h6chinese-font-weight, 400);
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.f-detail2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 120px;
  position: relative;
}
.footer-info2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 350px;
  height: 182px;
  position: relative;
}
.f-title2 {
  border-style: solid;
  border-color: var(--light-brown, #cebeb0);
  border-width: 0px 0px 1px 0px;
  padding: 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div9 {
  color: var(--primary-dark, #785e4c);
  text-align: left;
  font-family: var(--h6chinese-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--h6chinese-font-size, 18px);
  letter-spacing: var(--h6chinese-letter-spacing, 0.05em);
  font-weight: var(--h6chinese-font-weight, 400);
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
}
.div10 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon-pin {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.paragraph-en-x2 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: relative;
  width: 357px;
}
.icon-mail {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.paragraph-en-x3 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.div11 {
  padding: 0px 2px 0px 2px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon-phone {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.icon-clock {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.machi2 {
  color: var(--primary, #f7f5eb);
  text-align: center;
  font-family: "ZenTokyoZoo-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 70.5px);
  top: calc(50% - 23.5px);
  width: 141px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-media {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 209px;
  height: 42px;
  position: relative;
}
.icon-instagram-1 {
  flex-shrink: 0;
  width: 31px;
  height: 31px;
  position: relative;
  overflow: visible;
}
.icon-facebook-1 {
  padding: 2px;
  flex-shrink: 0;
  width: 31px;
  height: 31px;
  position: relative;
  overflow: visible;
}
.icon-line-1 {
  flex-shrink: 0;
  width: 31px;
  height: 31px;
  position: relative;
  overflow: visible;
}
.copyright {
  background: var(--brown, #ab927d);
  flex-shrink: 0;
  width: 1920px;
  height: 38px;
  position: relative;
  overflow: hidden;
}
.machi-all-rights-reserved {
  color: var(--primary, #f7f5eb);
  text-align: left;
  font-family: "SulphurPoint-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 75px);
  top: calc(50% - 6px);
}
.btn-button2 {
  background: var(--primary, #f7f5eb);
  border-radius: 50px;
  border-style: solid;
  border-color: var(--primary-dark, #785e4c);
  border-width: 1px;
  padding: 10px 3px 10px 3px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: absolute;
  left: calc(50% - -930px);
  top: calc(50% - -2082px);
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
  overflow: hidden;
}
.btn {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}
.icon-dropdown {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
